extends /layout

block title
    | Entries

block content
    h1 Entries
    button.btn.btn-dark.btn-sm(type="button" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="filters") Filters
    .collapse#filters
        .card.text-bg-dark
            .card-body
                .card-title.text-center Characters
                .card-title.text-center Authors
                .card-title.text-center Tags
    #list.mb-4
        a.entry.d-none#entryExample
            img
            svg.videoHint(xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="-1 -1 18 18" stroke="black")
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z"/>
            svg.audioHint(xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="-1 -1 18 18" stroke="black" stroke-width="0.5px")
                <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
                <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
                <path d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06"/>
            span.typeHint.gifHint
                | GIF
                i.bi.bi-play-fill
    .d-flex.flex-wrap.align-items-center(style="gap: 0.2em")
        button.btn.btn-secondary.btn-sm#listedPrev(type="button" disabled) < Prev
        span Showing #[span#listedFrom ?]-#[span#listedTo ?] of #[span#listedOf ?].
        button.btn.btn-secondary.btn-sm#listedNext(type="button" disabled) Next >

append css
    link(href="/css/entries.css" rel="stylesheet")
append js
    script(type="module" src="/js/entries.js")