extends /layout

block title
    | Home

block content
    h1 The Jelly G.allery
    p.text-center.mb-0 The Jelly G.allery catalogues every piece of content taking place in the Jelly G. world. These include comic pages, images, videos, and audio clips.
    hr.w-100
    #present
        img(src="/img/jellypresent.png")
        a(href="/entries")#enter: img(src="/img/enter.gif")
    hr.w-100
    h3 About Jelly G.
    p.text-center.mb-0
        | Jelly G. is a helpful guy with a jelly bean head who explains various things and sometimes goes on wacky adventures.
        br.mb-3
        | He and his friends are characters existing wholly in headcanon, meaning anyone who creates Jelly G. content can warp any aspect of a character however they see fit and their creation will be just as pertinent to the Jelly G. world as any other piece of content.
    hr.w-100
    h3 Submitting New Entries
    p.text-center.mb-0 Have you made some Jelly G. content? Send it to us at #[b.eml jelly#[span g]@#[span jelly]#[span ocean]#[span g]#[span .]#[span com]#[span lol]] so we can add it to the G.allery! Make sure you include the original creation date, what you'd like to be credited as (just "anon" is fine, too!), and any other details you'd like included with the entry.
    hr.w-100
    h3 RSS
    p.text-center.mb-0 Want to subscribe to the Jelly G.allery to be notified of any new piece of content?#[br]You can add #[a(href="/rss") our feed] to an RSS reader! 

append css
    link(href="/css/home.css" rel="stylesheet")