@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

[data-bs-theme="light"] {
  --colour-fg: #000000;
  --colour-bg: #9bfff0;
  --colour-nav: #42b1d6;
  --colour-footer: #348ba9;
  --colour-border: #7fc9d8;
  --colour-nav-text: rgb(169, 232, 255);
  --colour-bg-main: #dafffacf;
  --bg-image: url("/img/bg.png");
}

[data-bs-theme="dark"] {
  --colour-fg: #ffffff;
  --colour-bg: #0f2a13;
  --colour-nav: #123f2a;
  --colour-footer: #103926;
  --colour-border: #216e4a;
  --colour-nav-text: rgb(169, 255, 185);
  --colour-bg-main: #243824cf;
  --bg-image: url("/img/bgdark.png");
}

body {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: var(--colour-bg);
    background-image: var(--bg-image);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    background: #42b1d6;
    flex-grow: 1;
}

.main-inside {
    background-color: var(--colour-bg) !important;
    background-image: var(--bg-image) !important;
    background-attachment: fixed !important;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.centre-area {
    background: var(--colour-bg-main);
    min-width: 50vw;
    max-width: 90vw;
    width: 1300px;
    border: 2px solid var(--colour-border);
    border-top-width: 0;
    border-bottom-width: 0;
}

.content {
    padding: 1em 2em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navbar {
    background: var(--colour-nav);
    color: var(--colour-nav-text) !important;
    margin-left: 3vw;
    margin-right: 3vw;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 2px solid var(--colour-border);
    border-top-width: 0;
}

.navbar-brand {
    color: var(--colour-nav-text) !important;
}

footer {
    background: var(--colour-footer);
    color: var(--colour-nav-text);
    border: 0 solid var(--colour-border);
    border-top-width: 2px;
}

footer > .container > * {
    flex: 1;
}

.popover-header {
    background-color: transparent;
    border-bottom: 0;
}