@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

body {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #9bfff0;
    background-image: url("/img/bg.png");
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    background: #42b1d6;
    flex-grow: 1;
}

.main-inside {
    background-color: #9bfff0 !important;
    background-image: url("/img/bg.png") !important;
    background-attachment: fixed !important;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.centre-area {
    background: #dafffa;
    min-width: 50vw;
    max-width: 90vw;
    width: 65em;
    border: 2px solid #7fc9d8;
    border-top-width: 0;
    border-bottom-width: 0;
}

.content {
    padding: 0.5em 2em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navbar {
    background: #42b1d6;
    color: rgb(169, 232, 255) !important;
    margin-left: 3vw;
    margin-right: 3vw;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 2px solid #7fc9d8;
    border-top-width: 0;
}

.navbar-brand {
    color: rgb(169, 232, 255) !important;
}

footer {
    background: #348ba9;
    color: rgb(169, 232, 255);
    border: 0 solid #7fc9d8;
    border-top-width: 2px;
}

footer > .container > * {
    flex: 1;
}